# Created by .ignore support plugin (hsz.mobi)

**/cmake-build-debug
**/.idea
**/.iml
*.cmake
Makefile
CMakeFiles
CMakeCache.txt
.DS_Store
.gitkeep
*.iml
Linux.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

